#ani-clustermap-container {
    max-width: 100%;
    overflow-x: auto;
    display: block;
    text-align: center;
    position: relative;
    margin: 10px 0;
}

#ani-clustermap-container svg {
    width: 100%; /* Set initial width to fill the container */
    height: auto;
    display: inline-block;
}

.zoom-controls {
    text-align: center;
    margin-bottom: 10px;
}

.zoom-button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

#ani-clustermap-container .contig-group.selected {
    stroke: green !important;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

table img, table svg {
    width: 100%;
    height: 100%;
}


table .contig-group {
    width: 100%;
}

table .cluster-indicator {
    background: var(--cluster-color);
    width: 3rem;
}

table .atgc-indicator {
    width: 5rem;
}

table .contig-indicator {
    width: inherit;
    font-weight: inherit;
}

/*
table .contig-group {
    margin: 4px;
    background: var(--cluster-color);
    border-width: 3px;
    border-color: var(--cluster-color);
    display: block;
    padding-bottom: 10px;
    margin-bottom: 1rem;
}

// hover: darken
table .contig-group:hover {
    background: var(--cluster-color);
    filter: brightness(85%);
}
*/

table div.contig-group {
    border: 2px solid grey;
}

.selected .btn-secondary {
    /* custom */
    border: 2px solid green;
    font-weight: bold;
    /* overwrite bootstrap's btn-secondary */
    --bs-btn-color: #fff;
    --bs-btn-bg: #495057; /* Darker background to indicate activation */
    --bs-btn-border-color: #495057;
    --bs-btn-hover-bg: #3d454b; /* Slightly darker hover state */
    --bs-btn-hover-border-color: #3d454b;
    --bs-btn-active-bg: #3d454b; /* Darker active state */
    --bs-btn-active-border-color: #3d454b;
    --bs-btn-focus-shadow-rgb: 108, 117, 125; /* Lighter shadow to make it stand out */
    --bs-btn-active-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.15); /* Stronger inset shadow */
    outline: none; /* Remove outline to enhance the activated look */
    box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.5); /* Add an outer glow to stand out */
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; /* Smooth transition */
}

table th:not(:first-child), table td:not(:first-child) {
    width: 100vw;
    min-width: 25rem;
}

#cluster-tabs-content .selected > :first-child {
    stroke: green;
    stroke-width: 5px;
}

.gfaviz-container svg text {
    stroke-width: 2px;
    stroke: white;
    fill: white;
    paint-order: stroke;
    user-select: none;
    dominant-baseline: text-before-edge;
    font-size: larger;
    font-weight: bolder;
}

.gfaviz-container svg text.selected {
    fill: black;
}


.translate-middle-custom {
    transform: translate(calc(-100% + 10px), -50%) !important;
}

.popover {
    width: 100%;
}

.dotplots img {
    max-width: 100%;
}

#dotplot-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    background-color: yellow;
    text-align: center;

    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2000;
}

#dotplot {
    background-color: #AAAAAA;
    width: 100vmin;
    height: 100vmin;
    margin: 0 auto;
    /*resize: both;*/
    /*overflow: auto;*/
    /*margin: 10px;*/
    /*width: 80%;*/
    /*aspect-ratio: 1 / 1*/
}

#dotplot-quit {
    position: absolute;
    top: 10px;
    left: 10px;
}

#export-div {
    min-height: 50vh;
    height: 100%;
}

#export-div iframe {
    width: 100%;
    height: 100%;
    min-height: inherit;
}

.popover-danger {
    --bs-popover-border-color: #721c24;
    --bs-popover-header-bg: #721c24;
    /*--bs-popover-header-color: #f8d7da;*/
}

.assembly-atgc {
    width: 100%;
    height: 1rem;
    border-radius: 0.25rem;
    margin: 0.5rem 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: var(--line-gradient);
    position: relative;
    cursor: pointer;
}

.atgc-indicator {
    background-image: var(--line-gradient);
}

/* Thin line below the div */
.contig-atgc::after {
    content: '';
    display: block;
    height: 5px; /* Thin line */
    width: 100%;
    background-image: var(--line-gradient);
    position: absolute;
    bottom: -1px; /* Adjusts the position of the line below the div */
    left: 0;
}

}