#ani-clustermap-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#ani-clustermap-container .contig-group.selected {
    stroke: green !important;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

table img, table svg {
    width: 100%;
    height: 100%;
}

table .contig-group {
    margin: 4px;
    background: var(--cluster-color);
    border-width: 3px;
    border-color: var(--cluster-color);
    display: block;
    padding-bottom: 10px;
    margin-bottom: 1rem;
}

.list-group-item > .btn {
	display: block;
}

/*hover: darken*/
table .contig-group:hover {
    background: var(--cluster-color);
    filter: brightness(85%);
}

table div.contig-group.selected {
    border-color: green;
}

table th:not(:first-child), table td:not(:first-child) {
    width: 100vw;
    min-width: 25rem;
}

#cluster-tabs-content .selected > :first-child {
    stroke: green;
    stroke-width: 5px;
}

.gfaviz-container svg text {
    stroke-width: 2px;
    stroke: white;
    fill: white;
    paint-order: stroke;
    user-select: none;
    dominant-baseline: text-before-edge;
    font-size: larger;
    font-weight: bolder;
}

.gfaviz-container svg text.selected {
    fill: black;
}


.translate-middle-custom {
    transform: translate(calc(-100% + 10px), -50%) !important;
}

.popover {
    width: 100%;
}

.dotplots img {
    max-width: 100%;
}

#dotplot-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    background-color: yellow;
    text-align: center;

    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2000;
}

#dotplot {
    background-color: #AAAAAA;
    width: 100vmin;
    height: 100vmin;
    margin: 0 auto;
    /*resize: both;*/
    /*overflow: auto;*/
    /*margin: 10px;*/
    /*width: 80%;*/
    /*aspect-ratio: 1 / 1*/
}

#dotplot-quit {
    position: absolute;
    top: 10px;
    left: 10px;
}

#export-div {
    min-height: 50vh;
    height: 100%;
}

#export-div iframe {
    width: 100%;
    height: 100%;
    min-height: inherit;
}

.popover-danger {
    --bs-popover-border-color: #721c24;
    --bs-popover-header-bg: #721c24;
    /*--bs-popover-header-color: #f8d7da;*/
}

.assembly-atgc {
    width: 100%;
    height: 1rem;
    border-radius: 0.25rem;
    margin: 0.5rem 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: var(--line-gradient);
    position: relative;
    cursor: pointer;
}

.contig-atgc {
    position: relative;
    margin-bottom: 1rem;
}

/* Thin line below the div */
.contig-atgc::after {
    content: '';
    display: block;
    height: 5px; /* Thin line */
    width: 100%;
    background-image: var(--line-gradient);
    position: absolute;
    bottom: -1px; /* Adjusts the position of the line below the div */
    left: 0;
}