table img, table svg {
    width: 100%;
    height: 100%;
}

#ani-clustermap-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#ani-clustermap-container .contig-group.selected {
    stroke: green !important;
}

div.contig-group.selected {
    background-color: green;
}

.translate-middle-custom {
    transform: translate(calc(-100% + 10px), -50%) !important;
}

.popover {
    width: 100%;
}

#dotplot-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    background-color: yellow;
    text-align: center;

    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2000;
}

#dotplot {
    background-color: #AAAAAA;
    width: 100vmin;
    height: 100vmin;
    margin: 0 auto;
    /*resize: both;*/
    /*overflow: auto;*/
    /*margin: 10px;*/
    /*width: 80%;*/
    /*aspect-ratio: 1 / 1*/
}

#dotplot-quit {
    position: absolute;
    top: 10px;
    left: 10px;
}

#curate-div {
    min-height: 50vh;
    height: 100%;
}

#curate-div iframe {
    width: 100%;
    height: 100%;
    min-height: inherit;
}

.popover-danger {
    --bs-popover-border-color: #721c24;
    --bs-popover-header-bg: #721c24;
    /*--bs-popover-header-color: #f8d7da;*/
}